<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipseg.studyTime.api.timer.TimerMapper">
    <insert id="addTimer" parameterType="hashMap">
        INSERT INTO TIMERS
        (
         HOUR,
         MINUTE,
         SECONDS,
         USER_KEY
        )
        VALUES
        (
            {hour},
            {minute},
            {seconds},
            {userKey}
        )
    </insert>
</mapper>
