<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipseg.studyTime.api.comment.mapper.CommentMapper">

    <select id="getTimerByTimerSeq" parameterType="hashMap" resultType="int">
        SELECT * FROM TIMER WHERE TIMER_SEQ = #{timerSeq}
    </select>

    <insert id="addComment" parameterType="hashMap">
        INSERT INTO COMMENT
        (
         USER_SEQ,
         TIMER_SEQ,
         CONTENTS,
         CREATE_DATE
        )
        VALUES
        (
         #{userSeq},
         #{timerSeq},
         #{contents},
         current_timestamp
        )
    </insert>

    <select id="getCommentList" parameterType="hashMap" resultType="hashMap">
        SELECT * FROM COMMENT WHERE TIMER_SEQ = #{timerSeq}
    </select>

    <update id="modifyComment" parameterType="hashMap">
        UPDATE COMMENT
        SET CONTENTS = #{contents},
            UPDATE_DATE = current_timestamp
        WHERE COMMENT_SEQ = #{commentSeq}
    </update>

    <delete id="deleteComment" parameterType="hashMap">
        DELETE FROM COMMENT WHERE COMMENT_SEQ = #{commentSeq}
    </delete>

</mapper>
