<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ipseg.studyTime.api.timer.mapper.TimerMapper">
    <insert id="timerAdd" parameterType="hashmap">
        INSERT INTO TIMER
        (
         DAY,
         HOUR,
         MINUTE,
         SECONDS,
         USER_SEQ
        )
        VALUES
        (
            #{day},
            #{hour},
            #{minute},
            #{seconds},
            #{userSeq}
        )
    </insert>

    <select id="getUserTimer" parameterType="hashmap" resultType="hashMap">
        SELECT * FROM TIMER
        WHERE USER_KEY = #{userKey}
    </select>

    <update id="modifyTimer" parameterType="hashmap">
        UPDATE TIMER
        <if test="day != null">
            SET DAY = #{day}
        </if>
        <if test="hour != null">
            SET HOUR = #{hour},
        </if>
        <if test="minute != null">
            SET MINUTE = #{minute},
        </if>
        <if test="seconds != null">
            SET SECONDS = #{seconds}
        </if>
        WHERE USER_KEY = #{userKey}
    </update>
</mapper>
